<script>
  // LIBS
  import feather from "feather-icons";

  // VARS
  export let ownIcon = "";
  export let ownStyle = "";

  // ICONS
  let icon_map = feather.icons[ownIcon.toString()].toString();

</script>

<svg
  xmlns="http://www.w3.org/2000/svg"
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  class="feather"
  style={ownStyle}>
  {@html icon_map}
</svg>
