<script>
  // COMPONENTS TEMPLATE
  import I from "../templates/Icon.templates.svelte";

  // INPUT VALUES
  export let weatherData = {};
</script>

<style>
  .clear {
    clear: both;
  }

  .info-side {
    position: relative;
    float: left;
    height: 100%;
    padding-top: 25px;
  }

  .today-info {
    padding: 15px;
    margin: 0 25px 25px 25px;
    /* 	box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25); */
    border-radius: 10px;
  }

  .today-info > div:not(:last-child) {
    margin: 0 0 10px 0;
  }

  .today-info > div .title {
    float: left;
    font-weight: 700;
  }

  .today-info > div .value {
    float: right;
  }

  .week-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 35px;
    -webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .week-list > li {
    float: left;
    padding: 15px;
    cursor: pointer;
    -webkit-transition: 200ms ease;
    -o-transition: 200ms ease;
    transition: 200ms ease;
    border-radius: 10px;
  }

  .week-list > li:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background: #fff;
    color: #222831;
    -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
  }

  /* .week-list > li.active {
    background: #fff;
    color: #222831;
    border-radius: 10px;
  } */

  /* .week-list > li .day-name {
    display: block;
    margin: 10px 0 0 0;
    text-align: center;
  }

  .week-list > li .day-icon {
    display: block;
    height: 30px;
    width: auto;
    margin: 0 auto;
  } */

  .week-list > li .day-temp {
    display: block;
    text-align: center;
    margin: 10px 0 0 0;
    font-weight: 700;
  }

  .location-container {
    padding: 25px 35px;
  }

  .location-button {
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-radius: 25px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    background-image: var(--gradient);
    color: #ffffff;
    font-weight: 700;
    -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    -o-transition: transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
  }

  .location-button:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
</style>

<div class="info-side">
  <div class="today-info-container">
    <div class="today-info">
      <div class="precipitation">
        <span class="title">PRESSURE</span>
        <span class="value">{weatherData.currentOfDay.currentPress} hpa</span>
        <div class="clear" />
      </div>
      <div class="humidity">
        <span class="title">HUMIDITY</span>
        <span class="value">{weatherData.currentOfDay.currentHumid} %</span>
        <div class="clear" />
      </div>
      <div class="wind">
        <span class="title">WIND</span>
        <span class="value">
          {weatherData.currentOfDay.currentWindSpeed} m/s
        </span>
        <div class="clear" />
      </div>
    </div>
  </div>
  <div class="week-container">
    <ul class="week-list">
      {#each weatherData.weekOfDays as { day, temp, icon }, i}
        <li>
          <I
            ownIcon={icon}
            ownStyle="display: block; height: 30px; width: auto; margin: 0 auto;" />
          <span class="day-name">{day}</span>
          <span class="day-temp">{temp}°C</span>
        </li>
      {/each}
      <div class="clear" />
    </ul>
  </div>
  <div class="location-container">
    <button class="location-button">
      <span>Change location</span>
    </button>
  </div>
</div>
