<script>
  // COMPONENTS TEMPLATE
    import I from "../templates/Icon.templates.svelte";

  // INPUT VALUES
  export let weatherData = {};

  //BG
  let classBg = "weather-bg-sun";

  // FUNCTION FOR SET BACKGROUND
  function setBg() {
    if (weatherData) {
      if (weatherData.currentOfDay.currentIcon === "cloud") {
        classBg = "weather-bg-cloud";
      } else if (weatherData.currentOfDay.currentIcon === "cloud-snow") {
        classBg = "weather-bg-snow";
      } else if (weatherData.currentOfDay.currentIcon === "cloud-rain") {
        classBg = "weather-bg-rain";
      } else if (weatherData.currentOfDay.currentIcon === "cloud-drizzle") {
        classBg = "weather-bg-drizzle";
      } else if (weatherData.currentOfDay.currentIcon === "cloud-lightning") {
        classBg = "weather-bg-lightning";
      }
    }
  }

  setBg();
</script>

<style>
  .weather-side {
    position: relative;
    height: 100%;
    border-radius: 25px;
    width: 300px;
    -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    -o-transition: transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    -webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
    transform: translateZ(0) scale(1.02) perspective(1000px);
    float: left;
  }

  .weather-bg-rain {
    background-image: url("./assets/images/rain.jpg");
  }

  .weather-bg-sun {
    background-image: url("./assets/images/sun.jpg");
  }

  .weather-bg-cloud {
    background-image: url("./assets/images/cloud.jpg");
  }

  .weather-bg-snow {
    background-image: url("./assets/images/cloud.jpg");
  }

  .weather-bg-drizzle {
    background-image: url("./assets/images/drizzle.jpg");
  }

  .weather-bg-lightning {
    background-image: url("./assets/images/lightning.jpg");
  }

  .weather-side:hover {
    -webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
    transform: scale(1.1) perspective(1500px) rotateY(10deg);
  }

  .weather-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: var(--gradient);
    border-radius: 25px;
    opacity: 0.8;
  }

  .date-container {
    position: absolute;
    top: 25px;
    left: 25px;
  }

  .date-dayname {
    margin: 0;
  }

  .date-day {
    display: block;
  }

  .location {
    display: inline-block;
    margin-top: 10px;
  }

  /* .location-icon {
    display: inline-block;
    height: 0.8em;
    width: auto;
    margin-right: 5px;
  } */

  .weather-container {
    position: absolute;
    bottom: 25px;
    left: 25px;
  }

  .weather-temp {
    margin: 0;
    font-weight: 700;
    font-size: 4em;
  }

  .weather-desc {
    margin: 0;
  }
</style>

<div class="weather-side {classBg}">
  <div class="weather-gradient" />
  <div class="date-container">
    <h2 class="date-dayname">{weatherData.currentOfDay.currentDayFull}</h2>
    <span class="date-day">{weatherData.currentOfDay.currentDateNow}</span>
    <I
      ownIcon="map-pin"
      ownStyle="display: inline-block; height: 0.8em; width: auto; margin-right:
      5px;" />
    <span class="location">{weatherData.city}</span>
  </div>
  <div class="weather-container">
    <I
      ownIcon={weatherData.currentOfDay.currentIcon}
      ownStyle="height: 60px; width: auto;" />
    <h1 class="weather-temp">{weatherData.currentOfDay.currentTemp}°C</h1>
    <h3 class="weather-desc">{weatherData.currentOfDay.currentWeather}</h3>
  </div>
</div>
