<script>
  // COMPONENTS
  import WeatherSlide from "./components/Weather.component.svelte";
  import InfoSlide from "./components/Info.component.svelte";

  // COMPONENTS TEMPLATE
  import Modal from "./templates/Modal.template.svelte";

  // SEVICES
  import { getData } from "./services/Weather.service.svelte";

  // CONSTS
  import { api_const, key_const } from "./constants/Weather.constant.js";

  // VARS
  let api = api_const;
  let key = key_const;
  api += "?APPID=" + key;
  let latitude = "";
  let longitude = "";
  let weatherData = {};
  let loading = true;
  let allowedLocal = false;

  LocalChecker();

  // CHECK FOR ALLOWED LOCATION
  function LocalChecker() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        latitude = position.coords.latitude;
        longitude = position.coords.longitude;
        api += "&lat=" + latitude + "&lon=" + longitude + "&units=metric";
        allowedLocal = true;
        exec();
      });
    } else {
      allowedLocal = false;
    }
  }

  // EXEC GET WEATHER API
  function exec() {
    fetch(api)
      .then(r => r.json())
      .then(data => {
        weatherData = getData(data);
        loading = false;
      });
  }
</script>

<style>
  .container {
    border-radius: 25px;
    -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    background-color: #222831;
    color: #ffffff;
    height: 400px;
  }
</style>

<div class="container">
  {#if !allowedLocal}
    <Modal on:close={() => LocalChecker()}>
      <h2 slot="header">
        <font color="red">Warning !</font>
      </h2>

      <ol class="definition-list">
        <li>
          <font color="red">Your not have allowed location!</font>
        </li>
      </ol>
    </Modal>
  {/if}
  {#if !loading}
    <WeatherSlide {weatherData} />
    <InfoSlide {weatherData} />
  {/if}

</div>
